.swiper {
    padding-top: 30px;
    width: 1240px;
    height: 450px;
}

img {
    max-width: 100%;
}

.products__wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
}

.card {
    width: 232px;
    border: 1px solid black;
}

